* {
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
html {
  min-height: 100%;
  background-color: #031021;
}
body,
a:link,
a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #186AD0;
  text-decoration: none;
}
a:link {
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -o-transition: color .2ss ease;
}
nav, .logo {
    display: inline-block;
}
nav {
  float: right;
}
nav li {
  display: inline-block;
  list-style-type:none; 
  margin-bottom: 0;
}
nav li a {
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}
nav li a:link,nav li a:visited {
  color: #FFF9F6;
}
nav li a:hover,
nav li a:active,
nav li a:focus {
  color: #224571;
}
nav li.active a:link,nav li.active a:visited{
  color: #224571;
}
.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

#navbar-toggle {
    position: relative;
    display: none;
    margin: 25px 23px;
    padding: 13px 10px;
    vertical-align: middle;
    border: none;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #fff;
    background-image: none;
}

#navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-bottom: 1px solid #805370;
    border-radius: 1px;
}

button {
    overflow: visible;
    margin: 0;
    cursor: pointer;
    border: none;
    -webkit-appearance: button;
}
h1,
h2,
h4,
.author {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.author {
  margin-left: 30px;
  vertical-align:  text-bottom;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h4 {
  padding: 10px 0;
      position: relative;
    z-index: 2;
}
li {
  list-style-type: none; 
  margin-bottom: 10px;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: block;
}

.centeralign {
  text-align: center;
  padding: 41px 0 73px 0;
}
.centeralign  .middlebox {
  display: inline-block;
  text-align: left;
}
.accordion .sub .container.rightalign, .rightalign {
text-align: right;
background-image: url('../images/demo.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.smallbox {
    width: 49%;
    text-align: center;
}
.centerbox {
    text-align: center;
}
.centerbox.clickable {
    background-color: #061C38;
        border-bottom: 1px solid white;
  }
.blue.accordion:last-child .centerbox.clickable{
border-bottom: none;
}
.header .container {
  display: block;
}
.row {
  display: block;
}
.row.blue {
  padding-top: 53px;
  background-color: #FFF9F6;
}
.row .blue {
  background-color: #061C38;
}
section.white {
  background-color: #FFF9F6;
}
.box {
  width: 49%;
  min-height: 250px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: #FFF9F6;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
}
.box:after {
  content:" ";
  clear: both;
}
.box p {
  text-align: left;
    margin-top: 50px;
    margin-bottom: 67px;
}
.accordion .sub .container.rightalign .box p {
  color: #186AD0;
}
.blue .box p {
    margin-top: 22px;
}
section h4:hover {
  cursor: pointer;
  color: #224571;
}
section.padding {
  padding: 30px 0;
}
section.padding.header {
  padding: 45px 0 133px 0;
  background-color: #061C38;
  overflow: hidden;
}

.down {
  text-align: center;
  height: 0;
}

.round {
      padding-bottom: 6px;
  border-radius: 100%;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFF9F6;
  display: inline-block;
  position: relative;
  min-width: 200px;
  text-align: center;
}
.smallbox .round {
  padding-bottom: 22px;
}
.round:after {
 content: " ";
    height: 100px;
    width: 100%;
  background-color: #061C38;
  position: absolute;
      left: 0;
    top: 0;
    border-radius: 100%;
        z-index: 1;
}
.blue .round.bottom:after {
      top: -19px;
}
.blue .box.smallbox .round.bottom {
    padding-bottom: 22px;
}
.white .round:after {
      top: -50px;
}

.round span {
    display: inline-block;
    position: relative;
    line-height: 0;
     top: -3px;
     z-index: 2;
}
.round.bottom {
 top: -28px;
}
.clickable .round.bottom {
 top: -33px;
}
.round.bottom span {
 top: 6px;
}
.sub {
  background-color: #FFF9F6;
}
.blue.accordion {
text-align: center;
}

.accordion .sub .container{
  padding: 30px 0 75px 0;
  display: inline-block;
  text-align: left;
}

.sub a:link,
.sub a:visited {
  
}
.box  a:link,
.box a:visited  {
  color: #186AD0;
  text-decoration: none;
      display: block;
}
.blue .box  a:link,
.blue .box a:visited  {
  color: #FFF9F6;
  text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:hover p,
a:active p,
a:focus p,
a:hover .round span,
a:active .round span,
a:focus .round span {
  color: #224571;
}

.text_container,
.img_container {
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
}
.img_container {
  overflow: hidden;
  height:200px; 
  margin-top: 20px;
}
.img_container img {
  height: 100%;
  width: auto;
}

footer {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  background-color: #031021;
  color: #FFF9F6;
}
footer span {
  width: 25%;
  padding: 10px;
  float: left;
  text-align: center;
}
footer .container {
  display: block;
  text-align: left;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
.accordion .sub .container {
    padding: 30px 15px 55px 15px;
}
    #navbar-toggle {
        display: inline-block !important;
        margin: 0 30px 0 0;
        vertical-align: top;
        float: right;
    }
nav {
    float: none;
    display: block;
    text-align: center;
    margin-top: 30px;
}
   nav ul li {
        display: block;
    }
    section.padding.header {
    padding: 20px 0 23px 0;
  }
.box {
      width: 90%;
    display: block;
    margin: 0 auto;
    min-height: 0;
  }
.row.blue {
    padding-top: 0;
}
.round.middle {
          padding-top: 36px;
    padding-bottom: 36px;
}

.round.middle:after {
      top: 0;
}
.white .round.middle:after {
      background-color: #FFF9F6;
}
.white .round.middle {
      color: #186AD0;
      padding-top: 10px;
    padding-bottom: 10px;
}
.round.middle span {
      top: 0;
}
.box p {
    margin-top: 50px;
    padding-bottom: 30px;
}
.middle p {
     margin-top: 30px;
    padding-bottom: 80px; 
}
}
